.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.bar text {
  fill: #000;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.y.axis path {
  display: none;
}

.y.axis text {
  font-size: 24px;
  font-weight: bold;
}

tspan {
  font-size: 14px;
}
